.container
  Record Catalogue
  %ul
    %li 
      = link_to "add a record", new_record_path
    %li 
      = link_to "view all records", records_path
    %li 
      = link_to "view all artists", artists_path  